<html>
    <head>
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
              integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css"
              integrity="sha384-X8QTME3FCg1DLb58++lPvsjbQoCT9bp3MsUU3grbIny/3ZwUJkRNO8NPW6zqzuW9"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
              integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
              crossorigin="anonymous"
              referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
.fix-prep > span {
    height: 100%;
    border-radius: 6pt 0 0 6pt;
}
.fix-mid > span {
    height: 100%;
    border-radius: 0 0 0 0;
}
.container-fluid:first-child {
    margin: 1em 0 1em 0;
    padding: 1em 0 1em 0;
}
.remover { cursor: pointer; }
        </style>
    </head>
    <body>
        <div class="container-fluid">
            {% set last = last_err() %}
            {% if last %}
                <div class="alert alert-danger" role="alert">
                    {{ last }}
                </div>
            {% endif %}

            <form method="post">
                <div class="row">
                    <div class="input-group my-3">
                        <div class="input-group-prepend fix-prep">
                            <span class="input-group-text" id="basic-addon4"><i class="fa-solid fa-calendar"></i></span>
                        </div>
                        <input type="number" name="day" id="day" size=2 min=1 max=31 class="form-control" aria-describedby="basic-addon4">
                        <input type="number" name="month" id="month" size=2 min=1 max=12 class="form-control">
                        <input type="number" name="year" id="year" size=4 min=2000 max=2500 class="form-control">
                        <div class="input-group-prepend fix-mid">
                            <span class="input-group-text"><i class="fa-solid fa-clock"></i></span>
                        </div>
                        <input type="number" name="hours" id="hours" size=2 min=0 max=23 class="form-control">
                        <input type="number" name="minutes" id="minutes" size=2 min=0 max=59 class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend fix-prep">
                            <span class="input-group-text"><i class="fa-solid fa-cubes-stacked"></i></span>
                        </div>
                        <input type="number" name="sugar" size=6 step="any" class="form-control">
                        <div class="input-group-prepend fix-mid">
                            <span class="input-group-text"><i class="fa-solid fa-syringe"></i></span>
                        </div>
                        <input type="number" name="dosage" size=6 step="any" class="form-control">
                    </div>
                </div class="row">
                <div class="row">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend fix-prep">
                            <span class="input-group-text"><i class="fa fa-solid fa-droplet"></i></span>
                        </div>
                        <input type="number" name="water" step="any" class="form-control">
                        <div class="input-group-prepend fix-mid">
                            <span class="input-group-text"><i class="fa fa-solid fa-burger"></i></span>
                        </div>
                        <input type="text" size=16 name="foodbrand" placeholder="Food Brand" class="form-control">
                        <input type="number" size=3 name="foodamount" step="any" class="form-control">
                    </div>
                </div class="row">

                <div class="row d-flex justify-content-center">
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary">Send Form</button>
                    </div>
                </div>
            </form>
            <div class="row"> <hr> </div>

            <div class="row justify-content-center">
                <div id='chart' class='chart'></div>
            </div>

            {% if entries %}
                <div class="row">
                    <div class="col">
                        Date
                    </div>
                    <div class="col">
                        Sugar
                    </div>
                    <div class="col">
                        Dosage
                    </div>
                    <div class="col">
                        Food
                    </div>
                    <div class="col">
                        Brand
                    </div>
                    <div class="col">
                        Water
                    </div>
                </div>
            {% endif %}
            {% for entry in entries %}
                <div class="row">
                    <div class="col">
                        {{ entry["day"] }}.{{ entry["month"] }}.{{ entry["year"] }} {{ entry["hour"] }}:{{ entry ["minute"] }}
                    </div>
                    <div class="col">
                        {{ entry["sugar"] }}
                    </div>
                    <div class="col">
                        {{ entry["dosage"] }}
                    </div>
                    <div class="col">
                        {{ entry["food"] }}
                    </div>
                    <div class="col">
                        {{ entry["brand"] }}
                    </div>
                    <div class="col">
                        {{ entry["water"] }}
                    </div>
                    <div class="col">
                        {{ entry["water"] }}
                    </div>
                    <div class="col remover" data-id="{{ entry['id'] }}">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                    </div>
                </div>
            {% endfor %}
        </div>

    </body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.slim.min.js"
            integrity="sha256-w8CvhFs7iHNVUtnSP0YKEg00p9Ih13rlL9zGqvLdePA="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    <script>

        var graphs = {{entries | plot_entries}};
        Plotly.plot('chart', graphs, {}, {displayModeBar: false, staticPlot: true});

        var today = new Date();
        $("#day").val(today.getDate())
        $("#month").val(today.getMonth() + 1)
        $("#year").val(today.getFullYear())
        $("#hours").val(today.getHours())
        $("#minutes").val(today.getMinutes())

        $(".remover").click(function() {
            $.ajax({
                url: `${window.location.pathname}/${$(this).data("id")}`,
                type: 'DELETE',
                success: function(result) {
                    $(this).css("display": "none")
                }
            });
        });

    </script>
</html>